.drum-pad {
    height: 8vh;
    width: 100%;
    background-color: orangered;
    border: 1px solid black;
    transition: width 0.5s, background-color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6.5vh;
    color: #000;
    font-family: 'OCR A Std';
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.isPressed{
    background-color: orange;
    width: 20%;
    transition: width 1s,background-color 0.4s;
  }